<section class="section-education section-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="section-title"><h2>Education</h2></div>
          </div>
          <div class="col-md-9">
              <div class="row">
                  <div class="col-md-12">
                      <div class="content-item" *ngFor="let education of education">
                          <small>{{education.from_year}} - {{education.to_year}}</small>
                          <h3>{{education.course}}</h3>
                          <h4>{{education.college}}</h4>
                          <p>{{education.country}} , {{education.city}}</p>
                      </div>
                      <!-- <div class="content-item">
                          <small>2015 - 2017</small>
                          <h3>Masters in science ( Computer Applications )</h3>
                          <h4>Symbiosis International University</h4>
                          <p>India , Pune</p>
                      </div>
                      <div class="content-item">
                          <small>2017 - Present</small>
                          <h3>Masters in Science - Computer Science</h3>
                          <h4>University At Albany, State University of New York</h4>
                          <p>United States of America, Newyork , Albany</p>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
