<section class="section-wrapper skills-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="section-title">
                  <h2>Skills</h2>
              </div>
          </div>

          <div class="col-md-9">
              <div class="row">
                  <div class="col-md-6">
                      <div class="progress-wrapper">
                          <h3>CODING SKILLS</h3>
                          <!-- <div class="progress" *ngFor="let skill of skills"></div> -->
                              <!-- <span class="progress-title">{{skill.name}}</span> -->
                              <div class="progress-item" *ngFor="let skill of skills">
                                        <span class="progress-title">{{skill.name}}</span>
                                        <div class="progress-bar" role="progressbar" aria-valuenow="skill.level" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> {{skill.level}}%
                              </div>
                              </div>
                            <!-- </div> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <!-- .container-fluid -->
</section>